
body {
    font-family: 'Open Sans', sans-serif;
    background: #9b3636;
}

#cv {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}

#profile {
    background: #1e1e1e;
    color: #a5a5a5;
    padding: 25px;

}
#intro {
    display: flex;
    border-bottom: 2px solid #a5a5a5;
    align-items: center;
    padding-bottom: 15px;
}

#intro img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 25px;
}
#intro header {
    display: block;
    margin-right: 25px
}
#intro header h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    margin: 0;
}
#intro header h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #d07628;
    font-size: 40px;
    
}
#intro header h3 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

#about {
    border-left: 2px solid #a5a5a5;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}
#contact-info {
    display: flex;
    border-bottom: 2px solid #a5a5a5;
}
#contact-info ul {
    list-style: none;   
}
#contact-info ul:first-child {
    font-weight: 600;
}

#about article {
    font-weight: 300;
}

ul#social-networks {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul#social-networks a {
    text-decoration: none;
    color: #fff;
}
ul#social-networks i {
    margin-right: 10px;
}

#head {
    width: 200%;
    background-color: #221f1f;
  
}

#head {
    
}

#head {
    
}

#profileHead {
      display: flex;
    flex-direction: row;
    width:100%;;
}



#myPic {
    height: 200px;
    border-radius: 50%;
    padding:50px;
}

.picture {
    width:50%;
    display: flex;
    flex-direction: row;
}



.white {
    color:white;
}

#name1 {
        margin-bottom: -40px;

}

#title {
    margin-top: -40px;
}

#orange {
    color: orange;
     font-size: 40px;
}

#sideinfo {
    display: flex;
    flex-direction: column;
}
li {
    color:  white;
}

ul {
    list-style: none;
}

.detail {
    display: flex;
    flex-direction: row;
}

#all {
    display: flex;
    flex-direction: column;
    width:127%;
    margin-left:17%;
    border:1px solid black;
    
}

.h1Style {
    color: #2e2525;
    padding-left: 30px;
}

#exprience {
    display: flex;
    flex-direction: row;
}

.expL {
    display: flex;
    flex-direction: column;
    width:70%;
    
}
.expInfo {
    display: flex;
    padding-bottom: 30px;
    flex-direction: row;

}

.title {
    width:50%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding:30px;
    padding-top: 6px;
    
}



#expR {
    display: flex;
    flex-direction: column; 
    width:30%;
    height: 550px;
   
}

.progressbar {
    display: flex;
    flex-direction: column;
    height: 50%;
}



#progblue {
    background-color: aquamarine;
   display: flex;
    justify-content:center;
    flex-direction: column ;
}

.progs {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.skillsColor {
    color: gray;
  
}

.title1 {
    color: gray;
    padding-left: 40px;
}

#progYellow {
    background-color:#f5ee44;
    display: flex;
    justify-content:center;
    flex-direction: column  
}



#alll {
    display: flex;
    flex-direction: column;
    width: 200%;
}

#Eduction {
    display: flex;
    flex-direction: column;
    background-color: lightgray;

}

#hobbies {
    display:flex;
    flex-direction: row;
    padding:25px;
}

#iconn {
    display: flex;
    flex-direction: row;
    text-align:none;
}

.licolor {
    color: #625e5e;
     list-style: none;
    font-size: 20px;
}

.pcolor {
    color: #625e5e;
    width:20%;
    display: flex;
    justify-content: center;
}

#hobbiesIc {
   width= 70%;
}

#body3 {
        display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width:100%;
}

#footer1 {
     display: flex;
    flex-direction: row;
}

#body3 {
     display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width:100%;
}

#text2 {
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: white;
}

.textinfo1 {
    display: flex;
    flex-direction: column;
}

.hbody1 {
    color:gray;
    font-size: 30px;
    margin: 50px;
    margin-top:30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.bodyside {
      width:40%;
     height: 250px;

}

#text2 {
    width:90%;
}

.textinfo1 {
     display: flex;
    flex-direction: column;

}
.textinfo1 {
    display: flex;
    flex-direction: column;
     padding-top: 50px;
}


#boddy {
    display: flex;
    flex-direction: row;
}

#body3 {
    display: flex;
    flex-direction: row;
}

#boddy {
    display: flex;
    flex-direction: row;
}

#body3 {
     display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width:100%;
}

.textinfo1 {
        display: flex;
    flex-direction: column;
}

#text2 {
    display: flex;
    flex-direction: column;
}



#text2 {
    width:93%
}

.bodyside {
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.bodyside {
    
}

.bodyside {
    display: flex;
    flex-direction: column;  
    justify-content:space-between; 
}

.bodyside {
    display: flex;
    flex-direction: column;  
    justify-content:center;
}

#expcolor {
        background-color: cadetblue

}
.all11 {
    width:10%;
    background-color: black;
}

#all1 {
        background-color: black;
}

.progline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px;
    margin:-10px;
}

#proggg {
    display: flex;
    flex-direction: row;
}

#progreen {
     background-color: #a3e63c;
   display: flex;
    justify-content:center;
    flex-direction: column ;
    height: 100%;
}



.Expinfo1 {
   display: flex;
    justify-content: center;
    flex-direction: column;
}


.TfontSize {
    font-size: 20px;
}

#expLl {
    width: 100%;
}

.titleW {
    width: 21%;
}

.Expinfo1W {
    width: 70%
}

.titleW1 {
    width: 30%
}

.mark {
    color: #2e2525;
    font font-size: 20px;
}

.mark1 {
   color: #2e2525;
    font font-size: 30px; 
}

.sColor {
        color: #2e2525;
}
#footerDown {
    display:flex;
    flex-direction:row;
}
#darticle {
    display: flex;
padding :35px
}
